*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
}
body{
    background-color: #41179d;
}

.sign_container{
    height: 100%;
    margin: 100px 150px;
    background-color: #00000080;
    border-radius: 60px;
    height: 600px;
    display: flex;
}
.sign_img{
    height: 600px;
}
.sign{
    margin: 40px;
}
.title{
    font-weight: 600;
    font-size: 26px;
}
.links{
    display: flex;
}
.link_item{
    margin: 15px 0;
    margin-right: 15px;
}
.sign_form{
    display: flex;
    flex-direction: column;
}
.text_input{
    width: 539px;
    height: 37px;
    margin: 12px 0;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.127);
    border: 1px solid gray;
}
.sign_password{
    width: 253px;
    height: 37px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.127);
    border: 1px solid gray;
    border-radius: 10px;
    margin: 12px 0;
    margin-right: 10px;
}
.checkbox{
    display: flex;
    align-items: center;
}
.checktext{
    font-size: 16px;
    margin-left: 10px;
}
.sign_btn{
    width: 539px;
    height: 57px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: #651FFF;
    border: 1px solid #651FFF;
    border-radius: 39px;
    margin: 12px 0;
}