{% extends 'basic.html' %}

{% load static %}

    {% block title %}<title>Login</title>{% endblock %}
    {% block  section%}
        <section>
            <div class="sign_container">
                <div class="sign_photo">
                    <img class="sign_img" src="{% static 'imgs/Welcomeback.png' %}" alt="">
                </div>
                <div class="sign">
                    <h1 class="title">Log In</h1>
                    <ul class="links">
                        <li class="link_item">
                            <a href=""><img src="{% static '/imgs/Facebook Login.png' %}" alt="Facebook"></a>
                        </li>
                        <li class="link_item">
                            <a href=""><img src="{% static '/imgs/Twitter Login.png' %}" alt="Facebook"></a>
                        </li>
                        <li class="link_item">
                            <a href=""><img src="{% static '/imgs/Google Login.png' %}" alt="Facebook"></a>
                        </li>
                    </ul>
                    <form method="post" class="sign_form">

                        {% csrf_token %}

                        <input class="text_input" type="text" name="email" placeholder="Email">
                        <input class="text_input" type="text" name="password" placeholder="Password">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="msg">
                                    <p class="msg_text">{{ message }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <button class="sign_btn">Continiue</button>
                    </form>
                </div>
            </div>
        </section>
    {% endblock section %}